/* Border box declaration */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
	background-image: url("../img/background.jpg");
	font-size: 100%;
}

a {
	color: #2772B0;
}


header {
	position:fixed;
	background-color:#fff;
	border-bottom: 5px solid $color-primary;
	clear:both;
	width:100%;
	top:0;
	height:50px;
	left:0;
	display: block;
	margin-bottom: 0px;

}
header h1 {
	font-family: $font-primary;
	padding: 0.5em;
	margin-top: 0px;
	padding-top: 2px;
	color:black;
	text-align: right;
}
header h1 a {
	color: $color-secondary;
	text-decoration: none;
}

header h1 a:hover {
	color: $color-primary;
}

nav{
	font-family: $font-primary;
	font-size:1.1em;
	position:fixed;
	background-color: $color-secondary;
	color:white;
	clear:both;
	width:100%;
	top:50px;
	left:0;
	border-bottom: 3px solid black;
	clear: both;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
	text-align: center;
}
nav ul li {
	text-align: center;
	float:right;
}
nav ul a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 1em;
	float: left;
	text-align: center;
}
nav ul a:hover {
	color: $color-primary;
	font-style: italic;
	text-decoration:underline;
}

/*main elements and classes*/
.wrapper {
	width: 97%; /*could be 100%*/
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
	margin-top:115px;
	overflow:hidden;
	padding-bottom: 5px;
}
.wrapper h4 {
	font-family: $font-secondary;
	text-align: center;
	font-size: 1.15em;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
}
.wrapper h5 {
	font-family: $font-secondary;
	text-align: center;
	font-size: .75em;
	padding-top: 0px;
	margin-top: 0px;
}

.wrapper.music-albums img {
	width:95%;
	margin-top: 4px;
	margin-bottom: 1px;
}

.wrapper.movie-posters img{
	width:80%;
	height: 80%;
	margin-top: 4px;
	margin-bottom: 1px;
}
/*div {
	float: left;
	margin-left: 1.5em;
}*/
footer {
	font-family: $font-primary;
	clear: both;
	padding: 2em 0;
	margin: 3em 0;
	color: $color-primary;;
	text-align: center;
}

/* grid system */
.row{
	margin-top:20px;
}
.row:after {
  content: "";
  display: table; 
  clear: both;
}

/*[class *='col-']{
	float:left;
	margin-left:3.33333%; Sass will only look at five digits after decimal
	min-height: 1px;
}*/
.col-1{
	float:left;
	margin-left:3.33333%; /*Sass will only look at five digits after decimal*/
	min-height: 1px;
	width: 21%;
	height: 355px;
	border: 1px solid black;
}
.col-1 img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media only screen and (max-width: 479px) { 
	[class*='col-'] {  
		margin:0;  
		width:100%; 
	} 
	.wrapper.movie-posters img{
		height: 85%;
		margin-top: 1px;
		margin-bottom: 1px;
	}
} /* end 479 media query */

@media only screen and (min-width: 480px) and (max-width: 767px)  { 
	[class*='col-'] {  
		float: left;  
		margin-left: 2.33333%;  
		min-height: 1px; 
	} 

	.col-1{
		width: 31%;
		height: 255px;
		border: 1px solid black;
		margin-bottom: 3px;
	}
	.wrapper.movie-posters img{
		/*width:50%;*/
		height: 80%;
		margin-top: 1px;
		margin-bottom: 1px;
	}
	.wrapper h4,h5{
		font-size: .75em;
	}
	.row:after {
		  /*change from default display:table */
		  /*so an empty box or col is not breaking up the flow */
		  display: none; 
	}
} /* end 480x767 media query */

@media only screen and (min-width: 702px) and (max-width: 866px)  { 
	.wrapper h4,h5{
		font-size: .9em;
	}
	.music-albums .col-1{ 
		/*make the box shorter so it doesn't look empty*/
		height: 255px;
	}
	.movie-posters img{
		/*width:50%;*/
		height: 72%;
	}
	.movie-posters .col-1{
		/*make the box shorter so it doesn't look empty*/
		height: 295px;
	}
}